$thumbnailDimension: 80px;
$mainPhotoDimension: $thumbnailDimension * 8;
$overlayPercent: 80%;

.onHover-pointer {
  cursor: pointer;
}

.onHover-zoomin {
  cursor: zoom-in;
}

.onHover-zoomout {
  cursor: zoom-out;
}

.onHover-crosshair {
  cursor: crosshair;
}

.onHover-not-allowed {
  cursor: not-allowed;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.dropdown-selector { // modify
  display: inline-block,
}

.thumbnail { // modify
  height: $thumbnailDimension;
  width: $thumbnailDimension;
  margin: 5px;
  background-position: center center;
  object-fit: cover;
  &:hover {
    box-shadow: 0 0 2px 1px gray;
  }
}

.style-thumbnail {
  border-radius: $thumbnailDimension/2;
}

.price { // modify
  margin: 5px 10px;
}

#overview-grid-container {
  display: grid;
  grid-template-areas: 
    'heading heading heading heading heading'
    'main-image main-image main-image info info'
    'main-image main-image main-image style-selector style-selector'
    'main-image main-image main-image cart cart'
    'description description description features features';
  grid-gap: 10px; //modify
  padding: 10px; //modify
  header {
    grid-area: heading;
  }
  #image-gallery-section {
    grid-area: main-image;
  }
  #product-info-section {
    grid-area: info;
  }
  #style-selector-section {
    grid-area: style-selector;
  }
  #cart-section {
    grid-area: cart;
  };
  #description-section {
    grid-area: description;
  }
  #features-section {
    grid-area: features;
  }
  // section {
  //   // text-align: center;
  //   // padding: 20px 0;
  //   // font-size: 30px;
  // }
}

#image-gallery-overlay {
  z-index: 998;
  position: absolute;
  height: $overlayPercent;
  width: $overlayPercent;
  // margin-left: (100% - $overlayPercent)/2;
  margin-right: (100% - $overlayPercent)/2;
  background-color: white;
}

#mainphoto { // modify
  height: $mainPhotoDimension;
}

#expandedmainphoto { // modify
  height: 100%;
}

#zoomphoto {
  z-index: 999;
  position: fixed;
  transform: scale(2.5);
  transform-origin: top left;
  background-repeat: no-repeat;
  // height: 100%;
  // width: 100%;
  width: 500px;
  height: 350px;
}

#sale-price {
  color: red;
}

#original-price {
  text-decoration: line-through;
}

#selected-image-thumbnail {
  box-shadow: 0 0 2px 2px black;
}

#check-icon {
  transform: scale($thumbnailDimension/80px);
  position: absolute;
  margin-left: $thumbnailDimension * 0.8;
  color: black;
}

#add-to-cart-button {
  font-weight: bold;
  display: inline-block;
  background-color: #c29e00;
  box-shadow: 0 0 2px 1px black;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  i {
    vertical-align: -1px;
  }
  span {
    vertical-align: 4px;
  }
  &:hover {
    background-color: #d3ac00;
  }
}

#add-to-cart-button-out-of-stock {
  font-weight: bold;
  color: rgba(85, 85, 85, 0.89);
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 2px 1px black;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  i {
    vertical-align: -1px;
  }
  span {
    vertical-align: 4px;
  }
}

#style-thumbnail-grid {
  display: grid;
  grid-template-columns: $thumbnailDimension $thumbnailDimension $thumbnailDimension $thumbnailDimension;
  grid-auto-rows: $thumbnailDimension;
  grid-gap: $thumbnailDimension/4;
  div {
    display: inline-block;
  }
}

#size-selector {
  // put in stuff
}

#quantity-selector {
  // put in stuff
}

#select-size-prompt {
  color: red;
  font-size: 0.8em;
}