$thumbnailDimension: 80px;
$overlayPercent: 80%;

.onHover-pointer {
  cursor: pointer;
}

.onHover-zoomin {
  cursor: zoom-in;
}

.onHover-zoomout {
  cursor: zoom-out;
}

.onHover-crosshair {
  cursor: crosshair;
}

// .onHover-highlight {
// for highlighting a thumbnail on hover
// }

// .onSelect-highlight {
// for highlighting a style thumbnail on select
  // includes corner checkmark
// }

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.dropdown-selector { // modify
  display: inline-block,
}

.thumbnail { // modify
  height: $thumbnailDimension;
  width: $thumbnailDimension;
  margin: 5px;
  background-position: center center;
  object-fit: cover;
  &:hover {
    box-shadow: 0 0 2px 1px gray;
  }
}

.style-thumbnail {
  border-radius: $thumbnailDimension/2;
}

.price { // modify
  margin: 5px 10px;
}

#image-gallery-overlay {
  position: absolute;
  height: $overlayPercent;
  width: $overlayPercent;
  // margin-left: (100% - $overlayPercent)/2;
  margin-right: (100% - $overlayPercent)/2;
  background-color: white;
}

#mainphoto { // modify
  height: 350px;
}

#expandedmainphoto { // modify
  height: 100%;
}

#zoomphoto {
  position: fixed;
  transform: scale(2.5);
  transform-origin: top left;
  background-repeat: no-repeat;
  // height: 100%;
  // width: 100%;
  width: 500px;
  height: 350px;
}

#sale-price {
  color: red;
}

#original-price {
  text-decoration: line-through;
}

#selected-image-thumbnail {
  box-shadow: 0 0 2px 2px black;
}

#check-icon {
  transform: scale($thumbnailDimension/80px);
  position: absolute;
  margin-left: $thumbnailDimension * 0.8;
  color: black;
}

#add-to-cart-button {
  font-weight: bold;
  display: inline-block;
  background-color: #c29e00;
  box-shadow: 0 0 2px 1px black;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  i {
    vertical-align: -1px;
  }
  span {
    vertical-align: 4px;
  }
  &:hover {
    background-color: #d3ac00;
  }
}

#style-thumbnail-grid {
  display: grid;
  grid-template-columns: $thumbnailDimension $thumbnailDimension $thumbnailDimension $thumbnailDimension;
  grid-auto-rows: $thumbnailDimension;
  grid-gap: $thumbnailDimension/4;
  div {
    display: inline-block;
  }
}

#size-selector {
  // put in stuff
}

#quantity-selector {
  // put in stuff
}