@import "variables";

// DESCRIBES CURSOR UPON MOUSE HOVER
body {
  font-family: $font;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-zoomin {
  cursor: zoom-in;
}

.cursor-zoomout {
  cursor: zoom-out;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

// DESCRIBES SHOWING OR HIDING A MODAL
.show {
  display: inline-block;
}

.hide {
  display: none;
}

.thumbnail { // modify
  height: $thumbnailDimension;
  width: $thumbnailDimension;
  margin: 5px;
  background-position: center center;
  object-fit: cover;
  &:hover {
    box-shadow: 0 0 2px 1px gray;
  }
}

.style-thumbnail {
  border-radius: $thumbnailDimension/2;
}

.dropdown-selector { // modify
  display: inline-block,
}

.price { // modify
  margin: 5px 10px;
}

.exit-button {
  float: right;
  color: white;
  padding-right: 1em;
  padding-top: 2em;
}

.nav-carousel-button {
  z-index: 1;
  position: relative;
  pointer-events: initial;
  font-size: 400%;
  background-color: rgba(230, 230, 230, 0.15);
  top: 50%;
  &:hover {
    background-color: rgba(230, 230, 230, 0.45);
  }
  &#navigate_next {
    float: right;
  }
  &#navigate_prev {
    float: left;
  }
}

// DESCRIBES IMAGE GALLERY IN DEFAULT VIEW
#overview-grid-container {
  display: grid;
  grid-template-areas: 
    'heading heading heading heading heading'
    'main-image main-image main-image info info'
    'main-image main-image main-image style-selector style-selector'
    'main-image main-image main-image cart cart'
    'description description description features features';
  grid-gap: 10px; //modify
  padding: 10px; //modify
  header {
    grid-area: heading;
  }
  #image-gallery-section {
    grid-area: main-image;
    #image-gallery-grid-default {
      display: grid;
      grid-template-areas: 
        'main'
        'carousel';
      grid-template-rows: $mainPhotoDimension $thumbnailDimension*1.5;
      #main-photo { // modify
        grid-area: main;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
      }
      #image-thumbnail-slide-default {
        text-align: center;
        grid-area: carousel;
        max-width: $mainPhotoDimension;
        min-width: calc(#{$thumbnailDimension} * 8);
        margin: auto;
      }
    }
  }
  #product-info-section {
    grid-area: info;
  }
  #style-selector-section {
    grid-area: style-selector;
  }
  #cart-section {
    grid-area: cart;
  };
  #description-section {
    grid-area: description;
  }
  #features-section {
    grid-area: features;
  }
  section {
    // background-color: white;
    // display: inline-block;
    // text-align: center;
    // padding: 20px 0;
    // font-size: 30px;
  }
}

// DESCRIBES IMAGE GALLERY IN EXPANDED VIEW
#image-gallery-overlay {
  z-index: 998;
  position: fixed;
  height: $overlayPercent;
  width: $overlayPercent;
  // margin-left: (100% - $overlayPercent)/2;
  bottom: (100% - $overlayPercent);
  right: (100% - $overlayPercent);
  background-color: $modalBackground;
  box-shadow: 0 0 2px 3px black;
  padding: 5px;
  #expanded-main-photo { // modify
    height: 85%; // modify
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  #image-thumbnail-slide-expanded {
    display: block;
  }
}

#zoom-view-mouse-move {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: (100% - $overlayPercent);
  // margin-top: calc(- #{$defaultPadding} - #{$defaultMargin});
  top: 0px;
  background-color: $modalBackground;
}

#zoom-photo {
  z-index: 999;
  position: fixed;
  transform: scale(2.5);
  transform-origin: top left;
  right: calc((100%-#{$componentContainerWidth}) * 0.6);
  top: calc((#{$defaultMargin} + #{$defaultPadding}) * 2);
  background-repeat: no-repeat;
  width: $zoomWindowWidth;
  height: $zoomWindowHeight;
  box-shadow: 0 0 2px 5px black;
}

// DESCRIBES PRODUCT INFORMATION TEXT
#product-name {
  font-size: 42px;
}

#category-name {
  text-transform: uppercase;
  font-size: 20px;
}

#style-name {
  text-transform: uppercase;
  font-size: 14px;
}

#reviewsLink {
  padding-left: 1.5em;
}

// DESCRIBES PRICE AND SALES PRICE
#sale-price {
  color: red;
}

#original-price {
  text-decoration: line-through;
}

// DESCRIBES STYLE AND IMAGE THUMBNAILS DYNAMIC UPON SELECTION
#selected-image-thumbnail {
  box-shadow: 0 0 2px 2px black;
}

#check-icon {
  transform: scale($thumbnailDimension/80px);
  position: absolute;
  margin-left: $thumbnailDimension * 0.8;
  color: black;
}

#style-thumbnail-grid {
  display: grid;
  grid-template-columns: $thumbnailDimension $thumbnailDimension $thumbnailDimension $thumbnailDimension;
  grid-auto-rows: $thumbnailDimension;
  grid-gap: $thumbnailDimension/4;
  div {
    display: inline-block;
  }
}

// DESCRIBES ADD TO CART BUTTON
#add-to-cart-button {
  width: $addToCartWidth;
  font-weight: bold;
  display: inline-block;
  background-color: #c29e00;
  box-shadow: 0 0 2px 1px black;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  text-align: center;
  i {
    vertical-align: -1px;
  }
  span {
    vertical-align: 4px;
  }
  &:hover {
    background-color: #d3ac00;
  }
}

#add-to-cart-button-out-of-stock {
  font-weight: bold;
  color: rgba(85, 85, 85, 0.89);
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 2px 1px black;
  border-radius: 2px;
  padding: 2px;
  margin: 4px;
  i {
    vertical-align: -1px;
  }
  span {
    vertical-align: 4px;
  }
}

// DESCRIBES SIZE AND QUANTITY SELECTOR DROPDOWNS
#size-selector {
  margin: 4px;
  padding: 2px;
  select {
    width: $addToCartWidth;
    font-size: $selectorFontSize;
    padding: 2px;
  }
  
}

#quantity-selector {
  margin: 4px; 
  padding: 2px;
  select {
    font-size: $selectorFontSize;
    padding: 2px;
  }
}

#select-size-prompt {
  color: red;
  font-size: 0.8em;
  text-align: center;
}