.questionsModalAnswer {
  width: 400px;
  height: 100px;
  padding: 12px 10px;
  resize: none;
}

.qna-span-thumbnail:focus {
  outline: none;
}

.qna-modal-main {
  display: flex;
  padding-top: 5%;
  justify-content: center;
  img {
    width: 70%;
    max-width: 700px;
    height: 70%;
    max-height: 700px;
  }
}