@import 'standard-styles';

.card-container {
  height: 300px;
  width: 200px;
  background-color: $widgetColor;
  border-color: $borderColor;
  border-width: $borderThickness;
  font-family: $font;
  border-style: solid;
  margin: auto;
  margin-bottom: 10px;
  padding: $defaultPadding;
  display: flex;
  flex-direction: column;
}

.related-products-container {
  font-family: $font;
  background-color: $tileColor;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.related-title {
  display: flex;
  justify-content: center;
}

.card-info {
  padding: 0px;
  margin: 0px;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
}

.card-sub-text {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: $font;
}

.slick-list> div {
  margin-left: 0px;
  }

  .add-to-outfit {
    height: 300px;
    width: 200px !important;
    background-color: $widgetColor;
    border-color: $borderColor;
    border-width: $borderThickness;
    font-family: $font;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 55px;
    margin-right: 55px;
    padding: $defaultPadding;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .add-text {
    margin: 5px;
    font-family: $font;
  }
  
  .carousel-title {
    font-family: $font;
    font-size: 18px;
    padding-left: 10px;
  }

  .image-container {
    position: relative;
    height: 70%
  }

  .image-container img {
    height: 100%;
    width: 100%
  }

  #compare-button {
    position: absolute;
    top: 1%;
    left: 85%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: red;
  }

  