@import 'standard-styles';

.card-container {
  height: 300px;
  width: 200px;
  background-color: $tileColor;
  border-color: $borderColor;
  border-width: $borderThickness;
  font-family: $font;
  border-style: solid;
  margin: $defaultMargin;
  padding: $defaultPadding;
}

.related-products-container {
  font-family: $font;
}

img {
  max-width: 100%;
  max-height: 90%;
}

.slick-prev:before,
.slick-next:before {
  color: red!important;
}