@import 'standard-styles';

.card-container {
  height: 300px;
  width: 200px;
  background-color: $widgetColor;
  border-color: $borderColor;
  border-width: $borderThickness;
  font-family: $font;
  border-style: solid;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.related-products-container {
  font-family: $font;
  background-color: $tileColor;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

img {
  max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.related-title {
  display: flex;
  justify-content: center;
}

.card-info {
  padding: 0px;
  margin: 0px;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  padding: $defaultPadding;
}

.card-sub-text {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: $font;
}

  .add-to-outfit {
    height: 300px;
    width: 200px !important;
    background-color: $widgetColor;
    border-color: $borderColor;
    border-width: $borderThickness;
    font-family: $font;
    border-style: solid;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }

  .add-text {
    margin: 5px;
    font-family: $font;
  }
  
  .carousel-title {
    font-family: $font;
    font-size: 18px;
    padding-left: 10px;
  }

  .image-container {
    position: relative;
    height: 70%
  }

  .image-container img {
    height: 100%;
    width: 100%
  }

  #compare-button {
    position: absolute;
    top: 1%;
    left: 85%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 100%;
  }

  #remove-button {
    position: absolute;
    top: 1%;
    left: 85%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    font-size: 24px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 100%;
  }

  .related-modal-container {
    background-color: $modalBackground;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .related-modal {
    height: auto;
    width: 500px;
    background-color: $backgroundColor;
  }

#compare-table {
    width: 100%;
    border-color: $borderColor;
    border-width: $borderThickness * 1.5;
    border-style: solid;
    text-align: center;
  }

  #add-icon {
    margin-top: 7%;
    font-size: 128px;
  }

  a {
    color: $modalColor;
  }
