@import 'standard-styles';

$progressValueColor: #2AEB5D;
$progressBarColor: #cac6c6;
$componentWidth: 250px;

.rating-breakdown {
  font-family: $font;
  height: auto;
  width: $componentWidth;
  margin: $defaultMargin;
  padding: $defaultPadding;
  font-size: small;
  
  .rating-average {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: flex-start;

    .star-rating {
      font-size: small;
      margin-left: 20px;
      margin-top: $defaultMargin;
    }
  }

  .percent-recommended {
    margin-bottom: 0px;
  }

  .star-breakdown{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    padding: $defaultPadding;
    margin: 0px;

    .star-breakdown-item {
      display: flex;
      align-items: baseline;
      margin-top: $defaultMargin * 2;

      .star-breakdown-bar {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        color: $progressValueColor;
        background-color: $progressBarColor;
        margin-left: $defaultMargin * 2;
        width: 75%;
        height: 6px;
      }

      .star-breakdown-bar::-webkit-progress-bar {
          background-color: $progressBarColor;
      }
      
      .star-breakdown-bar::-moz-progress-bar { 
        background-color: $progressValueColor;	
      }
      
      .star-breakdown-bar::-webkit-progress-value {
        background-color: $progressValueColor;
      }
    }
  }
}
