.thumbnail {
    height: 100px
}

.tile-container {
    background-color: #BCE8C8;
}

.tile {
    padding: 10px
}

.tile-summary {
    font-weight: bold
}

.helpful-link {
    text-decoration: underline
}

.report-link {
    text-decoration: underline
}