@import 'standard-styles';

.RnR_container {
    display: flex;
}

.tile-container {
    padding: 5px;
    margin: 5px;
}

.sort-list {
    padding: 10px;
}

.selector {
    position: relative;
    background-color: white;
    border: 6px solid transparent;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    text-decoration: underline;
}

.RnR-modal {
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
  }
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

.list {
    width: 100%;
}

.photos {
    display: flex;
}
  
.container {
    width: 134px; 
    .thumbnail {
        border: 1px solid #ddd;
        border-radius: 1px;
        padding: 1px; 
        width: 120px; 
      }
    .thumbnail:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      cursor: pointer;
    }
}

.tile {
    width: 100%;
    padding: 10px;
    margin: 5px;
    .show {
        cursor: pointer;  
    }
    .top-row {
        display: inline;
        font-size: 12px;
        .user {
            float: right;
            margin: 5px;
            color: grey;
        }
        .username {
            float: right;
            margin: 5px;
            color: grey;
        }
    }
    .summary {
        font-size: 16px;
        font-weight: bold;
    }
    .body {
        font-size: 14px;
    }
    .recommend {
        font-size: 14px;
    }
    .lower-row {
        white-space: nowrap;
        overflow-x: auto;
        font-size: 12px;
        color: grey;
        .lower {
            display: inline-block;
            margin-left: 10px;
        }
        .helpfulness {
            margin-left: 5px;
        }
        .test {
            text-decoration: underline;
            margin-left: 10px;
        }
        .test:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            cursor: pointer;
          }
    }
    .response {
        background-color: lightgray;
        padding: 2px;
        margin: 1px;
        .response-text {
            font-size: 13px;
            margin-left: 15px;
        }
        .response-text-header {
            margin-left: 15px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}




