@import 'standard-styles';

$progressValueColor: #2AEB5D;
$progressBarColor: #cac6c6;
$borderHide: 6px solid transparent;
$borderShow:  6px solid black;
$componentWidth: 250px;

.breakdown-widget {
  font-family: $font;
  height: auto;
  width: $componentWidth;
  margin: $defaultMargin;
  padding: $defaultPadding;
  font-size: small;
}

.breakdown-list {
  list-style-type: none;
  padding: $defaultPadding;
  margin: 0px;
}

// Bar and Range styles for star breakdown and product breakdown
.bar {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  color: $progressValueColor;
  background-color: $progressBarColor;
  width: 30%;
  height: 6px;
}

.bar::-webkit-progress-bar {
  background-color: $progressBarColor;
}

.bar::-moz-progress-bar { 
  background-color: $progressBarColor;	
}

.bar::-webkit-progress-value {
  background-color: $progressValueColor;
}

.bar::-moz-progress-value {
  background-color: $progressValueColor;
}


.range {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $progressBarColor;
  width: 30%;
  height: 6px;
}

.range-show::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0; 
  height: 0; 
  border-left: $borderHide;
  border-right: $borderHide;
  border-top: $borderShow;
  margin-top: -6px; /* Chrome needs specified margin, FireFox/IE has automatic margin */
}

.range-show::-moz-range-thumb, .range::-ms-thumb {
  width: 0; 
  height: 0; 
  border-left: $borderHide;
  border-right: $borderHide;
  border-top: $borderShow;
}

.range-hide::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0; 
  height: 0; 
  border-left: $borderHide;
  border-right: $borderHide;
  border-top: $borderHide;
}

.range-hide::-moz-range-thumb, .range::-ms-thumb {
  width: 0; 
  height: 0; 
  border-left: $borderHide;
  border-right: $borderHide;
  border-top: $borderHide;
}

// Product Breakdown specific styles
.product-breakdown {
  .pb-range {
    margin-right: $defaultMargin;
  }
  .product-breakdown-bottom-label {
    display: flex;
    justify-content: space-between;
    width: 92%;
  }
}

// Rating Breakdown specific styles
.rating-breakdown {

  .rating-average {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: flex-start;

    .star-rating {
      font-size: small;
      margin-left: 20px;
      margin-top: $defaultMargin;
    }
  }

  .percent-recommended {
    margin-bottom: 0px;
  }

  .star-breakdown{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .star-breakdown-item {
      .star-breakdown-div {
        display: flex;
        align-items: baseline;
        margin-top: $defaultMargin;
        margin-bottom: $defaultMargin;
        cursor: pointer;

        .star-breakdown-span {
          text-decoration: underline;
        }

        .star-breakdown-bar {
          margin-left: $defaultMargin * 2;
          width: 80%;
        }
      }

      .star-breakdown-div:hover {
        background-color: $tileColor;
      }
    }
  }
}