@import "variables";

button, .submit {
  height: $buttonHeight;
  background-color: lightgray;
  font-family: $font;
  border: 2px solid black;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  width: 150px;
  height: 50px;
  padding: 0;
  line-height: 50px;
}

body {
  background-color: $backgroundColor;
}

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

.icon-reference {
  font-size: 0.75em;
  text-align: center;
}

#component-container {
  display: flex;
  flex-direction: column;
  width: $componentContainerWidth;
}

#main-container {
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modalBackground;
}

.modal-main {
  position:fixed;
  background: white;
  width: 600px;
  height: auto;
  border-radius: 10px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.thumbnail:hover {
  opacity: 0.7;
}

.lower-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#splash-page {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  font-size: 1.3em;
}