$buttonColor: #CFFFEA;
$tileColor: #BCE8C8;
$backgroundColor: #DBFFDB;
$widgetColor: #CBE8BC;
$modalColor: #F0FFCF;
$borderColor:	#808080;
$font: arial;
$buttonHeight: 30px;
$borderThickness: 2px;
$defaultPadding: 5px;
$fontColor: black;
$defaultMargin: 5px;

button {
  height: $buttonHeight;
  background-color: $buttonColor;
  font-family: $font;
  border-width: $borderThickness;
}

body {
  background-color: $backgroundColor;
}

.thumbnail {
  height: 100px;
}

.search-input-icons i { 
  padding-left: 10px;
  padding-top: 8px;
  position: absolute; 
} 

.search-input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

.search-input-field { 
  width: 100%; 
  padding: 10px; 
  text-align: center; 
} 

.search-input-field::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

.search-input-field:focus::-webkit-input-placeholder {
  opacity: 0;
}

#mainphoto {
  height: 350px;
}

#search-bar-container {
  width: 50%;
}

